# Output files
src/**/*.ttl
src/**/*.csv
src/**/*.tsv
src/**/*.json
data/Wikidata/
data/checkpoint/
*.pkl
*.jpg
*.ttl

# Ignore for visibility
*.conf
*.txt
!conf/default_strategy.conf

# Generated folders
cache/
logs/

# IDE generated
*__pycache__
*.swp
*.vscode
