<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mapping Manual Review</title>
  <style>
    body { font-family: sans-serif; padding: 20px; }
    .entity { font-weight: bold; font-size: 1.2em; margin-bottom: 10px; }
    .candidate { border: 1px solid #ccc; margin: 5px 0; padding: 8px; cursor: pointer; }
    .candidate:hover { background-color: #eef; }
    .hidden { display: none; }
  </style>
</head>
<body>
  <h1 id="title"></h1>
  <div id="waiting-div"></div>
  <div id="hidden-div" hidden="True">
    <div id="metadata-container" hidden="True"><p><span id="creator"></span> created this mapping on <span id="creation-date"></span></p><br><span id="old-justification"></span></p></div> <!--Div to put the mapping's metadata (creator, creation time, lists)-->
    <div id="subject-container"></div>
    <div id="predicate-container"></div>
    <div id="object-container"></div>
    <input type="radio" name="new-predicate-radio" id="new-predicate-radio" value="exactMatch"/> Same
    <input type="radio" name="new-predicate-radio" id="new-predicate-radio" value="differentFrom"/> Distinct
    <input type="radio" name="new-predicate-radio" id="new-predicate-radio" value="broadMatch"/> Broad
    <input type="radio" name="new-predicate-radio" id="new-predicate-radio" value="narrowMatch"/> Narrow
      <div style="display: flex; align-items: center; gap: 8px;">
        <span>Selected relation:</span>
        <input id="selected" disabled placeholder="none" style="flex: 1;"/>
        <button id="clearButton">Keep previous relation (reset)</button>
      </div><br>
      <textarea id="justification" placeholder="Justification (not required)" style="width:100%; position: centered;"></textarea><br>
      <button id="validate">Validate</button>
  </div>


  <script>
    let prev_subj = "";
    let prev_obj = "";
    async function fetchState() {
      const res = await fetch("/get_state");
      const data = await res.json();
      updateUI(data);
    }

    function updateUI(data) {
      const title = document.getElementById("title");
      const hiddenDiv = document.getElementById("hidden-div");
      const waitingDiv = document.getElementById("waiting-div");
      const subjectDiv = document.getElementById("subject-container");
      const predicateDiv = document.getElementById("predicate-container");
      const newPredicateBtn = document.getElementsByName("new-predicate-radio");
      const objectDiv = document.getElementById("object-container");
      const selectedInput = document.getElementById("selected");
      const radios = document.querySelectorAll('input[name="new-predicate-radio"]');
      const justificationDiv = document.getElementById("justification");
      const creatorDiv = document.getElementById("creator");
      const creationDateDiv = document.getElementById("creation-date");
      const oldJustificationDiv = document.getElementById("old-justification");
      const metadataDiv = document.getElementById("metadata-container");

      title.innerHTML = `Validation ${data.current+1}/${data.total} of ${data.list1} ${data.list2}`;
      selectedInput.value = "none";

      // Get key_ of object (if same, do not update)
      let same_obj = false;
      if (data.object) {
        for (const [key_, value_] of Object.entries(data.object))
          {if (key_ === prev_obj) {
            same_obj = true;
            break;
          }
          prev_obj = key_;
        }
      }

      if (data.subject) {
        //clearInterval(handle);
        let key = "";
        let value = "";
        for (const [key_, value_] of Object.entries(data.subject)) {
          if (key_ === prev_subj && same_obj == true) {
            return;
          }
          clearInterval(handle);
          prev_subj = key_;
          key = key_;
          value = value_;
        }

        let tableHTML = `<table border="1" cellpadding="4" cellspacing="0">`;

        for (const [key2, value2] of Object.entries(value)) {
          const displayValue = Array.isArray(value2) ? value2.join(", ") : value2;
          tableHTML += `<tr><td><strong>${key2}</strong></td><td style="white-space: normal;">${displayValue}</td></tr>`;
        }
        tableHTML += `</table>`;


        const country = value.country ? value.country[0] : "N/A";

        subjectDiv.innerHTML = `<strong>${key}</strong> (${country})
          <details>
            <summary><strong>Details</strong></summary>
            <pre>${tableHTML}</pre>
          </details>
        `;
        waitingDiv.innerHTML = "";
        hiddenDiv.style.display = "Block";
      }
      else {
        waitingDiv.innerHTML = "Waiting...";
        subjectDiv.innerHTML = "";
        hiddenDiv.style.display = "None";
      }

      if (data.object) {
        //clearInterval(handle);
        hiddenDiv.style.display = "Block";
        let key = "";
        let value = "";
        for (const [key_, value_] of Object.entries(data.object)) {
          key = key_;
          value = value_;
        }

        let tableHTML = `<table border="1" cellpadding="4" cellspacing="0">`;

        for (const [key2, value2] of Object.entries(value)) {
          const displayValue = Array.isArray(value2) ? value2.join(", ") : value2;
          tableHTML += `<tr><td><strong>${key2}</strong></td><td style="white-space: normal;">${displayValue}</td></tr>`;
        }
        tableHTML += `</table>`;


        const country = value.country ? value.country[0] : "N/A";

        objectDiv.innerHTML = `<strong>${key}</strong> (${country})
          <details>
            <summary><strong>Details</strong></summary>
            <pre>${tableHTML}</pre>
          </details>
        `;
      } else {
        objectDiv.innerHTML = "";
      }

      if (data.predicate) {
        predicateDiv.innerHTML = data.predicate;
        var previous_value = data.predicate;
      }

      if (data.creator) {
        creatorDiv.innerHTML = data.creator;
        metadataDiv.hidden = false;
      }
      else {
        metadataDiv.hidden = true;
      }
      if (data.creation_date) {
        creationDateDiv.innerHTML = data.creation_date;
      }
      if (data.justification) {
        oldJustificationDiv.innerHTML = data.justification;
      }

      async function validate(choice) {
        waitingDiv.innerHTML = "Waiting...";
        subjectDiv.innerHTML = "";
        predicateDiv.innerHTML = "";
        objectDiv.innerHTML = "";
        hiddenDiv.style.display = "None";
        var justification = justificationDiv.value;
        justificationDiv.value = "";
        await fetch("/validate", {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({"choice": choice, "justification": justification})
        }).then(res => res.json());
        handle = setInterval(fetchState, 1000);
        fetchState();
      }

      document.getElementById("validate").onclick = () => validate(selectedInput.value); // TODO verify that this event is well used

      function restore_radio_status() {
        radios.forEach(radio => {
          radio.checked = false;
          selectedInput.value = previous_value;
          if (radio.value === previous_value) {
            radio.checked = true;
          }
        });
      }

      restore_radio_status();

      document.getElementById("clearButton").onclick = () => {
        restore_radio_status();
      };

      radios.forEach(radio => {
        radio.addEventListener("change", () => {
          selectedInput.value = radio.checked ? radio.value : previous_value;
        });
      });
    }


    handle = setInterval(fetchState, 1000);
    fetchState();
  </script>
</body>
</html>
